/*External styling*/
#paragraph2 {
	color: yellow;
}

/*font-family and font-size*/
* {
	font-family: "Calibri", monospace; font-size: 20px;
}

/*Type selector*/
h1 {
	font-size: 70px;
}

/*ID selector*/
#header1 {
	text-transform: uppercase;
}

/*Class selector*/
.language {
	background-color: #A2C58B;
}

/*Attribute selector*/
[target] {
	border-width: 1px;
	border-style: groove;
	border-color: #97AED4;
}

/*Adjacent sibling selector*/
 .image + .unordered_list {
	list-style-type: none;
}

/*Descendant selector*/
body img {
	height: 110px;
	width: 110px;
	border-radius: 55px;
}

/*General sibling selector*/
ul ~ p {
	text-align: center;
}

/*Child Selector*/
#section2 > #unordered {
	letter-spacing: 5px;
}